<%- include('./template/head') %>

<style>
  .form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  .form-signin input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  </style>

    <main class="form-signin  m-auto text-center">
        <div >
            <img src="image/logo.png">
        </div>
        <form action="/login" method="post">
            <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
        
            <div class="form-floating">
                <input type="text" name="user" class="form-control" id="userInput">
                <label for="userInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" name="pwd" class="form-control" id="passwordInput">
                <label for="passwordInput">Contraseña</label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">
                Iniciar Sesión 
                <i class="bi bi-box-arrow-right"></i>
            </button>
        </form>
        <div>
            <p>¿No tienes una cuenta?</p>
            <a href="/sign-up">Registrate gratis</a>

        </div>

    </main>

<%- include('./template/footer') %>